@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip {
    clip-path: polygon(67% 0, 100% 0, 100% 100%, 45% 100%);
    background-color: brown;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .clip1 {
    clip-path: polygon(45% 0, 100% 0, 100% 100%, 75% 100%);
    background-color: rgb(250, 160, 160);
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .clip2 {
    clip-path: polygon(35% 0, 100% 0, 100% 100%, 70% 100%);
    background-color: rgb(196, 30, 58);
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
